html, body {
    height: 100%;
    margin: 0;
    color: white;
}
body {
    background: url('./img/HEROSCREEN.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 0;
}